
@font-face {
  font-family: 'OceanSansStd-Book';
  src: url('OceanSansStd-Book.eot?#iefix') format('embedded-opentype'),  url('OceanSansStd-Book.woff') format('woff'), url('OceanSansStd-Book.ttf')  format('truetype'), url('OceanSansStd-Book.svg#OceanSansStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
